<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patent Viewer</title>
</head>
<body>

<form>

    <div>Year: <input type="text" id="year" name="year"></div>

    <div>
        <div>Version Selection:</div>
        <input type="radio" id="rad_hist" name="version" value="historic">
        <label for="rad_hist">Historic</label><br>
        <input type="radio" id="rad_canada" name="version" value="canadian">
        <label for="rad_canada">Canadian</label><br>
        <input type="radio" id="rad_text" name="version" value="text">
        <label for="rad_text">Text</label><br>
        <input type="radio" id="v1" name="version" value="1">
        <label for="v1">1</label><br>
        <input type="radio" id="v2" name="version" value="2">
        <label for="v2">2</label><br>
        <input type="radio" id="v4" name="version" value="4" checked="checked">
        <label for="v4">4</label><br>
    </div>

    <div>
        <div>Working on Applications</div>
        <input type="radio" id="app_false" name="app" value="False">
        <label for="app_true">False</label><br>
        <input type="radio" id="app_true" name="app" value="True" checked="checked">
        <label for="app_true">True</label><br>
    </div>

    <div>
        <label for="input_path">Input File </label>
        <input type="text" id="input_path" name="input" value="{{ defaults['input'] }}">
    </div>

    <div>
        <label for="out_path">Parsed File </label>
        <input type="text" id="out_path" name="out" value="{{ defaults['out'] }}">
    </div>

    <div>
        <label for="tmp_path">Temporary Path </label>
        <input type="text" id="tmp_path" name="tmp" value="{{ defaults['tmp'] }}">
    </div>

    <input type="submit" value="View Patents" formmethod="post">
</form>

<p>When using historic patents, please use do not specify the directory path, but the path to the actual historic file.</p>
<p>Right now not implemented: Historic</p>

<p><strong>WARNING: </strong>The parser for canadian patents requires a large amount of free memory, since it loads the entire input file into memory.
To prevent this, use a smaller file.</p>

</body>
</html>