<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pat_nbr }}</title>
    <link rel="stylesheet" href="/static/patent.css">
</head>
<body>

<div id="header">
    <span>{{ pat_nbr }}</span>
    <span><a autofocus="true" href="/patent">Skip Patent</a></span>
    <span><a href="/write">Write Patent</a></span>
</div>

<div id="left" class="split left">
<table>
    <tr class="parsed_line">
        <th class="num">cid</th>
        <th class="num">seq</th>
        <th class="num">dep</th>
        <th class="num">lvl</th>
        <th class="text">Text</th>
    </tr>
    {% for claim in parsed %}
        <tr class="parsed_line">
            <td class="num cid_line">{{ claim['cid'] }}</td>
            <td class="num">{{ claim['seq'] }}</td>
            <td class="num">{{ claim['dep'] }}</td>
            <td class="num">{{ claim['lvl'] }}</td>
            <td class="text">{{ claim['text'] }}</td>
        </tr>
    {% endfor %}
</table>
</div>

<div id="right" class="split right" onload="this.location.hash = 'claims';">
    <object id="claims_container" data="source#claims"/>
</div>

</body>
</html>