<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pat_nbr }}</title>
    <link rel="stylesheet" href="/static/patent.css">
</head>
<body>

<div id="header">
    <span>{{ pat_nbr }}</span>
    <span><a autofocus="true" href="/patent">Skip Patent</a></span>
    <span><a href="/write">Write Patent</a></span>
</div>

<div id="patent">
    <table>
        <tr class="parsed_line">
            <th>cid</th>
            <th>seq</th>
            <th>dep</th>
            <th>lvl</th>
            <th>text</th>
        </tr>
        {% for line in parsed %}
            <tr class="parsed_line">
                <td class="num">{{ line['cid'] }}</td>
                <td class="num">{{ line['seq'] }}</td>
                <td class="num">{{ line['dep'] }}</td>
                <td class="num">{{ line['lvl'] }}</td>
                <td>{{ line['text'] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>