<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Week Selection</title>
</head>
<body>

<div>
<form onchange="this.form.submit()">
    <input type="submit" value="View Patents" formmethod="post">

    {% for f in files %}
        <div>{{ f }} <input type="radio" name="week" value="{{ f }}"></div>
    {% endfor %}

</form>
</div>

</body>
</html>