claim {
    display: block;
    margin-top: 1em;
}

claim-text {
    display: block;
    margin-left: 1em;
    color: white;
}

claim-ref {
    border: 1px solid red;
}
/* This allows me to hover over the element and see the claim reference! */
claim-ref[idref]:hover::after {
    content: attr(idref);
    background: darkgrey;
    color: black;
    position: absolute;
}

/* For the version 1 applications. */
dependent-claim-reference {
    border: 1px solid red;
}

dependent-claim-reference[depends_on]:hover::after {
    content: attr(depends_on);
    background: darkgrey;
    color: black;
    position: absolute;
}

/* The stuff for the p tags and so */
description p {
    display: block;
    color: grey;
    margin: 0.5em;
}