/* The top row */
#header {
    height: 2em;
}

#header span {
    width: 10em;
    float: left;
}
/* Split the screen in half */
.split {
    height: calc(100% - 3em);
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 2em;
    overflow-x: scroll;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    background: black;
    color: white;
}

/* Control the right side */
.right {
    right: 0;
    background: black;
    color: white;
}

#claims_container {
    width: 100%;
    height: calc(100% - 20px);
    overflow: scroll;
}

/* The elements in the parsed claims section */
.parsed_line .num {
    width: 2em;
    border-right: 1px solid grey;
}
